.direnv
.envrc
.vscode
result
node_modules
npm-package/bindings
npm-package/dist/*
!npm-package/dist/package.json
npm-package/output/**/*.d.ts
npm-package/output/**/*.js
*.tgz
zig-out
.zig-cache
zigfetch
perf.data*
src/bindings.js
example/extra.js
example/public/BongoCat