.direnv
.envrc
.vscode
result
node_modules
npm-package/output
*.tgz
zig-out
.zig-cache
zigfetch
perf.data*
src/bindings.js
example/example/extra.js
example/example/public/BongoCat
webview_cache
webview_data